body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

}

.contenedor {
    width: 60vh;
    height: 50vh;
    background: rgb(248, 99, 99);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

input{
    width: 80%;
    padding: 10px;
    margin: 5px 0 auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.salida {
    width: 60vh;
    height: 30vh;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}
